@model IEnumerable<DotNetShopping.Models.Page>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Keywords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PageId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Keywords)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PageId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PageId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PageId })
        </td>
    </tr>
}

</table>
