@model IEnumerable<DotNetShopping.Models.ProductImage>
@{
    ViewBag.Title = "ProductImage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Product Images</h2>

<div class="error">@Request.QueryString["Error"]</div>

<p>
    @Html.ActionLink("Create New", "PhotoAdd", new { id = Model.First().VariantId, ProductId = Model.First().ProductId })
</p>
<table class="table">
    <tr>
        <th>
            <b style="font-size:11pt;">Photo</b>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.Sequence)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.FileName != "")
                {
                    <img src="~/ProductImage/@item.FileName" width="200" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td style="text-align:center;">
                <div><img src="~/images/up.png" /></div>
                <div><img src="~/images/down.png" /></div>
                <div>@Html.DisplayFor(modelItem => item.Sequence)</div>
            </td>
            <td>
                
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ImageId, VariantId = item.VariantId }, new { @class = "deleteImage" })

            </td>
        </tr>
    }

</table>
@section scriptsready{
    $('.deleteImage').click(function(){
    return confirm("Are you sure you want to delete this photo?");
    })
}